mat-card.icon > mat-icon {
    font-size: 30px;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

mat-card.icon {
    height: 50px;
    padding: 0px;
    margin: 5px;
    background: rgba(0,0,0,0.3);
}

mat-card {
    margin: 16px;
    width: 400px;
    box-sizing: border-box;
}