<h4 *ngIf='message'>{{message}}</h4>
<div *ngIf='tree' style="display: flex;">
    <mat-card>
        <mat-card-header>
            <h3>Root:{{tree.name}}</h3>
        </mat-card-header>
        <mat-card-content>
            <tree-root [nodes]="tree.children" [options]="options" (activate)="updateSelected($event)"></tree-root>
        </mat-card-content>
        <div style="display: flex">
            <mat-card class='icon' style="display: flex;" *ngIf='authorizationService.currentUser.isAuth' (treeDrop)="onDropDelete($event)">
                <mat-icon>clear</mat-icon>
            </mat-card>
        </div>
    </mat-card>

    <mat-card *ngIf='authorizationService.currentUser.isAuth'>
        <mat-card-content>
            <mat-card-header>
                <mat-card-title>
                    <h3>Update Node</h3>
                </mat-card-title>
                <mat-card-subtitle>Select node on tree and type new Name</mat-card-subtitle>
            </mat-card-header>
            <form [formGroup]='updateNoodeForm' (ngSubmit)='updateNode(updateNoodeForm.value)'>
                <mat-form-field>
                    <input matInput placeholder="Name" formControlName="Name" [ngModel]="selectedNode && selectedNode.name">
                </mat-form-field>
                <input hidden formControlName="Id" [ngModel]="selectedNode && selectedNode.id">
                <button mat-raised-button color="primary" [disabled]="!updateNoodeForm.valid">Update</button>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf='authorizationService.currentUser.isAuth'>
        <mat-card-content>
            <mat-card-header>
                <mat-card-title>
                    <h3>Create Node</h3>
                </mat-card-title>
                <mat-card-subtitle>Select parent node on tree and type Name</mat-card-subtitle>
            </mat-card-header>
            <form [formGroup]='createNoodeForm' (ngSubmit)='createNoode(createNoodeForm.value, selectedNode.id)'>
                <mat-form-field>
                    <input matInput placeholder="Name" formControlName="Name">
                </mat-form-field>
                <button mat-raised-button color="primary" [disabled]="!createNoodeForm.valid || !selectedNode.id">Create</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>