<mat-card>
  <mat-card-title>
    Sing in
  </mat-card-title>
  <mat-card-content>
    <form class="login-form" [formGroup]='loginForm' (ngSubmit)='login(loginForm.value)'>
      <mat-form-field class="login-full-width">
          <input matInput placeholder="Login" formControlName="UserName">
      </mat-form-field>
      <mat-form-field class="login-full-width">
          <input matInput placeholder="Password" formControlName="Password" type="password">
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Sign in</button>
      <h4 *ngIf='message' >{{message}}</h4>
    </form>
  </mat-card-content>
</mat-card>